<!DOCTYPE html>
{% extends 'mainPages/base.html' %}
{% block body_block %}
    <main role="main" class="container">
        <section class="jumbotron text-center" style="background-color: white">
            <div id="top-main-header" class="container">
                <h1 class="jumbotron-heading" style="color: #0389D2">Image Edit and Share</h1>
                <p class="lead text-muted" style="color: white">
                    welcome to our website ! here you have the opportunity to create and share !
                    you can join free and start uploading your photos right away ! so don't waste any time and sign up now!
                    you will be granted a variety of options in order to edit you desired photos .
                    other users will like your posts nd comment under them.
                </p>
            </div>
        </section>

        <div class="row">
            <div class="col-md-8 blog-main">
                <h2 style="alignment: center" class="pb-4 mb-4 font-italic border-bottom">
                    contact to us:
                </h2>
                <p>please share your opinions with us , and help us become better
                you can both email us : majid1377@gmail.com
                </p>
                <p>
                and also contact us by our number : 021231342145
                our instagram page is known by the id : @editAndShare
                Thank you a lot :)</p>
            </div><!-- /.blog-main -->
            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">You can<em>Edit and share your image</em> here.</p>
                </div>

                <div class="p-4" style=" background-color: whitesmoke; color: black">
                    <h4 class="font-italic" align="center">Top Users</h4>
                    <ol>
                        {% for top_user in top_users %}
                            <li style="float: bottom">
                                <a href="{% url "profile_page" pk=top_user.pk %}"
                                   style="color: black">{{ top_user.user.first_name }} {{ top_user.user.last_name }} : {{ top_user.score }}</a>
                            </li>
                        {% endfor %}

                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </main><!-- /.container -->


{% endblock %}